---
import { getTokenFromCode } from '../../utils/googleAdmin';

const code = Astro.url.searchParams.get('code');

if (!code) {
  return Astro.redirect('/');
}

try {
  const tokens = await getTokenFromCode(code);
  if (tokens.access_token) {
    Astro.cookies.set('access_token', tokens.access_token);
    return Astro.redirect('/');
  }
} catch (error) {
  console.error('Error getting tokens:', error);
}

return Astro.redirect('/');
---

<div>Redirecting...</div> 